body, .send {
	background-color: #FFA552;
}

body {
	margin-left: 24px;
}

.send {
	align-content: left;
}

.center_div{
    margin: 0 auto;
    width:100% /* value of your choice which suits your alignment */
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: #79BD9A;
    text-decoration: none;
    color: white;
}




